.home-page {
    position: relative;
    width: 100vw;
    min-height: 100vh;
}

.home-content {
    margin: 0em 0em 0 2em;
}

.add-img-container {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}

.add-img-container input[type = "file"]  {
    display: none;
} 


label.add-img-label {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.add-icon {
    font-size: 1em;
}

.add-img-container small {
    color: rgb(29, 29, 29);
}

.card-container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-top: 2em;
    margin-right: 3em;
    
}

/* card component styling */
.card {
    margin-top: 1em;
}

.card .img-container {
    width: 250px;
    height: 300px;
    border-radius: 14px;
    overflow: hidden;
    position: relative;
}

.img-container .overlay {
    position: absolute;
    top: 0;
    background-color: transparent;
    width: 270px;
    height: 300px;

}

.card .img-container img {
    width: inherit;
    height: inherit;
    position: relative;
}


.card .about-img {
    width: 270px;
    display: flex;
    flex-direction: column;
}

.card h3 {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    margin-top: .5em;
}

.card small {
    margin-top: .5em;
    font-weight: 600;
    font-size: .7rem;
    color: rgb(138, 138, 138);
}

.card small.date-added {
    margin-top: .5em;
    font-weight: 600;
    font-size: .5rem;
    color: rgb(169, 168, 168);
}

.card-container-active {
    border-top: 1px solid rgb(157, 255, 165);
}

.element-drag {
    opacity: .5;
}