@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: black;
}

body,
button,
input {
  font-family: "Raleway", sans-serif;
}

.main-logo {
  font-size: 1.8rem;
  font-weight: 800;
}

/* nav */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8em 2em 0 2em;
}

.logo-and-links {
  display: flex;
  align-items: center;
  gap: 4em;
}

.search-and-signin {
  display: flex;
  align-items: center;
  gap: 2em;
}

.logo-and-links ul {
  display: flex;
  gap: 2em;
}

.logo-and-links ul li {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.4em 0.5em;
  border-radius: 3px;
}

.search-and-signin .search-field {
  width: 23em;
  height: 2.3em;
  border: 2px solid rgb(23, 23, 23);
  border-radius: 4px;
  padding-right: 0.6em;
}

.search-field #search-input {
  width: 94%;
  height: inherit;
  padding: 0 0.6em;
  border: none;
  outline: none;
  background-color: transparent;
}

button {
  height: 3.5em;
  padding: 0 2em;
  font-size: 0.9rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* enter details popup */
.popup-bg {
  background: rgba(
    255,
    255,
    255,
    0.2
  ); /* Set the background color with transparency */
  backdrop-filter: blur(10px); /* Apply a blur effect to the background */
  position: fixed;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  /* TODO: blur functionality */
}

.popup-bg .popup-add-image-content {
  width: 450px;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  background-color: white;
  box-shadow: 4px -5px 6px -1px rgba(185, 185, 185, 0.42);

}

.popup-add-image-content .cancel-btn {
  margin-top: 2em;
  transform: translateX(90%);
  border: 2px solid rgb(196, 196, 196);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.popup-add-image-content h2 {
  margin-top: 1.3em;
  margin-left: 1.3em;
}

.pop-up-inputs {
  display: flex;
  flex-direction: column;
  margin: 2em 2em 2em 2em;
}

.pop-up-inputs div {
  display: flex;
  flex-direction: column;
}

.pop-up-inputs input {
  min-height: 54px;
  border-radius: 8px;
  background-color: rgb(247, 255, 255);
  border: 1px solid rgb(236, 236, 236);
  padding: 0 0.8em;
  font-size: 1rem;
  font-weight: 600;
}

.pop-up-inputs input:focus {
  border: 1px solid black;
  outline: none;
}

.pop-up-inputs label {
  margin-bottom: 0.5em;
  font-size: 0.85rem;
  font-weight: 500;
  color: rgb(78, 78, 78);
}

.pop-up-inputs .select-tag-container {
  margin-top: 1em;
}

.tags-selected {
  margin-top: 0.6em;
}

.tags-selected small {
  width: 100%;
  margin-top: 0.6em;
}

.tags-selected small span {
  margin-left: 0.5em;
}

.pop-up-inputs button {
  margin-top: 2em;
}

@media screen and (max-width: 350px) {
}
