@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,800&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  color: black;
}

body,button, input {
  font-family: 'Raleway', sans-serif;
}

.main-logo {
  font-size: 1.8rem;
  font-weight: 800;
}

/* nav */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .8em 2em 0 2em;
}

.logo-and-links {
  display: flex;
  align-items: center;
  gap: 4em;
}

.search-and-signin {
  display: flex;
  align-items: center;
  gap: 2em;
}

.logo-and-links ul {
  display: flex;
  gap: 2em;
}

.logo-and-links ul li {
  font-size: .9rem;
  font-weight: 600;
  padding: .4em .5em;
  border-radius: 3px;
}

.search-and-signin .search-field {
  width: 23em;
  height: 2.3em;
  border: 2px solid rgb(23, 23, 23);
  border-radius: 4px;
  padding-right: .6em;
}

.search-field #search-input {
  width: 94%;
  height: inherit;
  padding: 0 .6em;
  border: none;
  outline: none;
  background-color: transparent;
}

button {
  height: 3.5em;
  padding: 0 2em;
  font-size: .9rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

@media screen and (max-width: 350px) {
  
}